/*———————————————————————————————————————————————————————————————————————*/
/* SECTION Information
/*———————————————————————————————————————————————————————————————————————//

Author:      X
Email:       X
Description: X

/* !SECTION —————————————————————————————————————————————————————————————*/

/*———————————————————————————————————————————————————————————————————————*/
/* SECTION Fonts
/*———————————————————————————————————————————————————————————————————————*/



/* !SECTION —————————————————————————————————————————————————————————————*/

/*———————————————————————————————————————————————————————————————————————*/
/* SECTION Variables
/*———————————————————————————————————————————————————————————————————————*/

:root {
	
}

/* !SECTION —————————————————————————————————————————————————————————————*/

/*———————————————————————————————————————————————————————————————————————*/
/* SECTION Structure
/*———————————————————————————————————————————————————————————————————————*/



/* !SECTION —————————————————————————————————————————————————————————————*/

/*———————————————————————————————————————————————————————————————————————*/
/* SECTION Content
/*———————————————————————————————————————————————————————————————————————*/



/* !SECTION —————————————————————————————————————————————————————————————*/

/*———————————————————————————————————————————————————————————————————————*/
/* SECTION Media Queries
/*———————————————————————————————————————————————————————————————————————*/



/* !SECTION —————————————————————————————————————————————————————————————*/